@font-face {
    font-family: "Tron";
    src: url(../Fonts/sofachrome.ttf);
}

body {
    background: rgb(9,0,42) !important;
background: linear-gradient(0deg, rgba(9,0,42,1) 0%, rgba(12,0,61,1) 50%, rgba(9,0,42,1) 100%) !important;

}

h1 {
    font-family: Tron;
    font-size: 100pt !important;
    background: -webkit-linear-gradient(#472B62, #8C51C5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    margin-bottom: 300px;

}


#circle {
    width: 60%;
    animation: spin 10s linear infinite;
    margin-top: 10%;
}

@keyframes spin {
    to {
        transform: rotateZ(1turn)
    }
}

#content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chat, #player{
    background-color: #070024;
    color: white;
    width: 30%;
    margin: 10px;
    overflow: hidden;
}

#player{
    width: 500px;
}

#content{
    top: 50% !important;
    font-size: 20pt;

}